.login-container{
  display: flex;
  justify-content: center;
}

.local-login{
  padding: 30px;
  width: 70%;
  border: 1px solid #0d47a1;
  border-radius: 3px;
}

.auth-icon{
  font-size: 6em;
  display: block;
  text-align: center;
}

@media(max-width: 577px) {
  .local-login{
    width: 90%;
  }
}

.or-with-line{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: lightgrey;
  height: 1px;

  //& > hr {
  //  position: absolute;
  //  width: 100%;
  //  //margin-top: 9px;
  //}
  & > span {
    text-align: center;
    background-color: white;
    z-index: 1000;
    position: relative;
    top: -0.5em;
    padding-right: 10px;
    padding-left: 10px;
  }
}

