@import 'button.scss';
@import 'front.scss';
@import 'splashPage.scss';
@import 'signup.scss';
@import 'oauth.scss';
@import 'localSignUp.scss';
@import 'login.scss';
@import 'general.scss';
@import 'navbar.scss';
@import 'contact.scss';

@font-face {
  font-family: 'Moon-light';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Moon Light.otf');
}

body{
  font-family: 'Moon-light', sans-serif;
}