@import 'button.scss';
@import 'front.scss';
@import 'splashPage.scss';
@import 'signup.scss';
@import 'oauth.scss';
@import 'localSignUp.scss';
@import 'login.scss';
@import 'general.scss';
@import 'navbar.scss';
@import 'contact.scss';
@import 'spinner.scss';
@import 'user.scss';

//$first-color: #23c3ef;
//$second-color: #497baf;
//$third-color: #6bd37e;
//$fourth-color: #db7a64;
//$fifth-color: #dbd690;
/*split here*/
//$sixth-color: #003049;
//$seventh-color: #d62828;
//$eigth-color: #f77f00;
//$ninth-color: #fcbf49;
//$tenth-color: #eae2b7;


@font-face {
  font-family: 'Moon-light';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Moon Light.otf');
}

@font-face {
  font-family: 'SkarpaLt';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/SkarpaLt.ttf');
}

@font-face {
  font-family: 'Summit-Title';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/SummitThin-Display.otf');
}

@font-face {
  font-family: 'minimal';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/minimal.otf');
}

@font-face {
  font-family: 'quicksand';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/QuickSand-Regular.otf');
}

body{
  font-family: 'Moon-light', sans-serif;
  //font-family: 'SkarpaLt', sans-serif;
  //font-family: 'minimal', sans-serif;
}

.modify-input-font {
  input {
    font-family: 'quicksand', sans-serif;
  }
}

.display-in-quicksand {
  font-family: 'quicksand', sans-serif;
}


.display-in-minimal {
  font-family: 'minimal', sans-serif;
}

.hidden {
  display: hidden;
}