
#inter-navbar {
  background-color: #1565c0;
  border: 1px solid #1565c0;
  border-radius: 0px;
  //padding-top: 6px;
  //padding-bottom: 6px;
  padding-left: 80px;
  padding-right: 80px;
}

.navbar-nav {
  & > li > a {
    color: white !important;
  }
}

.active {
  & > button {
    background-color: $login-btn-hover-color !important;
    border: 1.5px solid $login-btn-hover-color !important;
    color: #1565c0 !important;
  }
}