$login-btn-hover-color: #039be5;
$contact-btn-hover-color: #F06D71;
$home-btn-hover-color: #ffb300;
$signup-btn-hover-color: #00D478;
//$search-btn-hover-color: #7c4dff;

#inter-navbar {
  background: #37474f;
  border: 0;
  border-radius: 0;
  padding-left: 80px;
  padding-right: 80px;
}

@mixin sliding-underline($ul-color) {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  //left: -1px;
  height: 3px;
  width: 0;
  background: $ul-color;
  //background: transparent; //FIXME
  transition: width .4s ease, background-color .4s ease;
  -webkit-transition: width .4s ease, background-color .4s ease;
}

@mixin navbar-link($hover-color, $ul-color) {
  display: inline-block;
  position: relative;
  color: white !important;
  box-sizing: border-box;
  //border-right: 1px solid white;
  //border-left: 1px solid white;
  z-index: 1000;
  transition: background-color .4s ease, color .4s ease, border .4s ease, z-index .4s ease;
  -webkit-transition: background-color .4s ease, color .4s ease, border .4s ease, z-index .4s ease, opacity .4s ease;
  &:after {
    @include sliding-underline($ul-color);
  }
  &:hover {
    background-color: $hover-color !important;
    //color: #1565c0 !important;
    //border-right: 1px solid $hover-color;
    //border-left: 1px solid $hover-color;
    z-index: 999;
    &:after {
      box-sizing: content-box;
      width: 100%;
      //border-right: 2px solid $ul-color;
      background: $ul-color;
    }
  }
  &:focus {
    outline: 0 !important;
  }
}


.navbar-brand {
  color: white;
}

#home-link {
  @include navbar-link($home-btn-hover-color, #ef6c00);
}

#login-link {
  @include navbar-link($login-btn-hover-color, blue);
  //margin-right: -1px;
  //border-right: 1px solid rgba(3,155,229, 0);
  //z-index: 1;
}

//#search-link {
//  @include navbar-link($search-btn-hover-color, #006064);
//}

#logout-link {
  @include navbar-link($login-btn-hover-color, blue);
  //margin-right: -1px;
  //z-index: 1;
}

#contact-link {
  @include navbar-link($contact-btn-hover-color, #880e4f);
}
#signup-link {
  @include navbar-link($signup-btn-hover-color, #2e7d32);
}

#login-link.login-active {
  background-color: $login-btn-hover-color;
  //border-right: 1px solid $login-btn-hover-color;
  //border-left: 1px solid $login-btn-hover-color;
}

#contact-link.contact-active {
  background-color: $contact-btn-hover-color;
  //border-right: 1px solid $contact-btn-hover-color;
  //border-left: 1px solid $contact-btn-hover-color;
}
#home-link.home-active {
  background-color: $home-btn-hover-color;
}

#signup-link.signup-active {
  background-color: $signup-btn-hover-color;
}

#search-bar {
  padding-right: 30px;
  margin-top: 7.5px;
  border-radius: 50px;
  width: 80%;
}
.search-btn {
  border-radius: 100px;
}

.search-container {
  position: relative;
}
.search-label {
  right: 60px;
  top: 8px;
  position: absolute;
  cursor: pointer;
}
.search-input {
  top: 30px;
  right: 100px;
  position: absolute;
}