.oauth-group {
  width: 35%;
  position: relative;
}

.fa-l {
  font-size: 10em;
  padding: 15px;
}
.icon-container {
  margin-left: 20px;
  position: absolute;
  border-left: 1px solid lightgrey;
  padding-bottom: 55px;
}