.submit-btn {
  margin-top: 10px;
}
.signup-container {
  padding: 50px 50px 0px 50px;
  border: 1px solid #0d47a1;
  border-radius: 3px;
}

.flex-container {
  display: flex;
}

.local-signup-group {
  width: 65%;
}

.oauth-group {
  width: 35%;
  position: relative;
}

.fa-l {
  font-size: 10em;
  padding: 15px;
}
.icon-container {
  margin-left: 20px;
  position: absolute;
  border-left: 1px solid lightgrey;
}